<h3>Novo Corretor
</h3>
<div class="panel panel-default" ng-controller="corretorController as corretorCtrl">
    <div class="panel-body">
        <form action="/" method="POST">
            <legend>Informações do Corretor</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nome Completo</label>

                        <div class="controls">
                            <input type="text" ng-model="corretorCtrl.newCorretor.nomeCorretor"
                                   placeholder="Nome Completo" required="required" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">E-mail</label>
                        <input type="email" placeholder="E-mail" class="form-control"
                               ng-model="corretorCtrl.newCorretor.email"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="inputDataNascimentoCorretor">Data de Nascimento</label>
                        <p class="input-group">
                            <input id="inputDataNascimentoCorretor" type="text" class="form-control"
                                   ng-model="corretorCtrl.newCorretor.dataNascimento" uib-datepicker-popup="dd/MM/yyyy"
                                   placeholder="DD/MM/YYYY" is-open="corretorCtrl.statusDatePicker.opened"
                                   datepicker-mode="year" max-date="corretorCtrl.dateToday" close-text="Fechar"
                                   current-text="Hoje"
                                   clear-text="Limpar"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="corretorCtrl.openDatePicker($event)">
                                    <i class="icon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tel. Residencial</label>
                        <input type="text" ng-model="corretorCtrl.newCorretor.telResidencial" masked
                               ui-mask="(99)9999-9999" placeholder="(##)####-####" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" name="celularInput" ng-model="corretorCtrl.newCorretor.telCelular" masked
                               ui-mask="(99)99999-9999" placeholder="(##)#####-####" class="form-control"/>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary" ng-click="corretorCtrl.saveCorretor()" ng-disabled="corretorForm.$invalid">Salvar</button>
            </div>
        </form>

    </div>
</div>