<div ng-controller="corretorController as corretorCtrl" class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Corretores</h3>
	</div>
	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title">Novo Corretor</h3>
		</div>
		<div class="modal-body">
			<form name="corretorForm" class="simple-form">
				<div class="form-group">
					<label for="inputNomeCompleto">Nome Completo</label>
					<input id="inputNomeCompleto" type="text" class="form-control" ng-model="corretorCtrlModal.corretor.nomeCorretor" />
				</div>
				<div class="form-group">
					<label for="inputEmail">E-Mail</label>
					<input id="inputEmail" type="text" class="form-control" ng-model="corretorCtrlModal.corretor.email" />
				</div>
				<div class="form-group">
					<label for="inputSexo">Sexo</label>
					<select id="inputSexo" class="form-control">
						<option value="Masculino">Masculino</option>
						<option value="Feminino">Feminino</option>
					</select>
				</div>				


				<div class="form-group">
					<label for="inputDataNascimento">Data de Nascimento</label>
					<p class="input-group">
						<input id="inputDataNascimento" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" placeholder="DD/MM/YYYY" ng-model="corretorCtrlModal.corretor.dataNascimento" is-open="corretorCtrlModal.statusDatePicker.opened" datepicker-mode="year" ng-required="true" max-date="corretorCtrlModal.dateToday" close-text="Fechar" current-text="Hoje" clear-text="Limpar" />
              				<span class="input-group-btn">
                				<button type="button" class="btn btn-default" ng-click="corretorCtrlModal.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              				</span>
					</p>
				</div>

			</form>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-click="corretorCtrlModal.saveCorretor(corretorCtrlModal.corretor)" ng-disabled="corretorForm.$invalid">Salvar</button>
			<button type="button" class="btn btn-danger" ng-click="corretorCtrlModal.ok()">Cancelar</button>
		</div>
	</script>
	<div>
		<button type="button" class="btn btn-default" ng-click="corretorCtrl.open('sm')">Novo Corretor</button>
		<div id="grid1" ui-grid="corretorCtrl.gridOptions"
			 ui-grid-resize-columns="" ui-grid-move-columns=""></div>
	</div>
	
</div>