<!DOCTYPE html>
<html lang="en" data-ng-app="angle">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <title data-ng-bind="::pageTitle()">Angle - Angular Bootstrap Admin Template</title>
    <!-- Bootstrap styles-->
    <link rel="stylesheet" href="resources/app/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="resources/app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
    <link rel="stylesheet" href="resources/app/css/bootstrap-datepicker.css">
    <!-- Application styles-->
    <link rel="stylesheet" href="resources/app/css/app.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="resources/app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
    <!-- SweetAlert -->
    <link rel="stylesheet" href="resources/vendor/sweetalert/dist/sweetalert.css">
    <!-- Themes-->
    <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled}">
<div data-preloader></div>
<div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
<script src="resources/app/js/base.js"></script>
<script src="resources/app/js/app.js"></script>
<script src="resources/app/js/sidebar/sidebar.js"></script>
<script src="resources/app/js/sidebar/sidebar-menu.js"></script>
<script src="resources/app/js/config/config.js"></script>
<script src="resources/app/js/utils/utils.js"></script>
<script src="resources/app/lib/angular-locale_pt-br.js"></script>
<script src="resources/app/lib/bootstrap-datepicker.js"></script>
<script src="resources/app/lib/bootstrap-datepicker.pt-BR.js"></script>
<script src="resources/app/js/controllers/fileUpload/upload.js"></script>
<script src="resources/app/js/modal/modals.js"></script>
<!-- SweetAlert -->
<script src="resources/vendor/sweetalert/dist/sweetalert.min.js"></script>
<script src="resources/vendor/angular-sweetalert/SweetAlert.js"></script>
<!-- Controllers -->
<script src="resources/app/js/controllers/corretorController.js"></script>
<script src="resources/app/js/controllers/corretorControllerModalInstance.js"></script>
<script src="resources/app/js/controllers/clienteController.js"></script>
<script src="resources/app/js/controllers/contratoController.js"></script>
<script src="resources/app/js/controllers/contratoControllerModalInstance.js"></script>
<!-- Services -->
<script src="resources/app/js/services/enderecoService.js"></script>
<script src="resources/app/js/services/clienteService.js"></script>
<script src="resources/app/js/services/imovelService.js"></script>
<script src="resources/app/js/services/corretorService.js"></script>
<script src="resources/app/js/services/contratoService.js"></script>
</body>

</html>