<!-- START row -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Nome Completo</label>

            <div class="controls">
                <input type="text" name="nomeCompletoInput" ng-model="clienteCtrl.newPessoaFisica.nomeCompleto"
                       data-parsley-group="step1" placeholder="Nome Completo" required="required" class="form-control"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>CPF</label>

            <div class="controls">
                <input type="text" name="cpfInput" ng-model="clienteCtrl.newPessoaFisica.cpf" masked
                       ui-mask="999.999.999-99" data-parsley-group="step1" placeholder="###.###.###-##" required
                       class="form-control"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Identidade - RG</label>

            <div class="controls">
                <input type="text" name="rgInput" ng-model="clienteCtrl.newPessoaFisica.rg" data-parsley-group="step1"
                       placeholder="RG" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Orgão Expedidor</label>

            <div class="controls">
                <input type="text" name="orgaoExpedidorInput" ng-model="clienteCtrl.newPessoaFisica.rgExpedidor"
                       data-parsley-group="step1" placeholder="Orgão Expedidor" class="form-control"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDataNascimento">Data de Nascimento</label>

            <p class="input-group">
                <input id="inputDataNascimento" type="text" class="form-control"
                       ng-model="clienteCtrl.newPessoaFisica.dataNascimento" uib-datepicker-popup="dd/MM/yyyy"
                       placeholder="DD/MM/YYYY" is-open="clienteCtrl.statusDatePicker.opened"
                       datepicker-mode="year" max-date="clienteCtrl.dateToday" close-text="Fechar" current-text="Hoje"
                       clear-text="Limpar"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="clienteCtrl.openDatePicker($event)">
                            <i class="icon-calendar"></i>
                        </button>
                    </span>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Estado Civil</label>
            <select name="estadoCivilInput" data-parsley-group="step1" required class="form-control"
                    ng-model="clienteCtrl.newPessoaFisica.estadoCivil">
                <option value="Solteiro">Solteiro</option>
                <option value="Casado">Casado</option>
                <option value="Divorciado">Divorciado</option>
                <option value="Viúvo">Viúvo</option>
            </select>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">E-mail</label>
            <input name="email" type="email" placeholder="E-mail" class="form-control"
                   ng-model="clienteCtrl.newPessoaFisica.email" required
                   data-parsley-group="step1"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Gênero</label>

            <div style="padding-top: 5px">
                <label class="radio-inline c-radio">
                    <input id="inputRadioGeneroMasculino" type="radio" ng-model="clienteCtrl.newPessoaFisica.sexo" name="radioGenero"
                           value="M" checked="checked"/>
                    <span class="fa fa-user"></span>
                    Masculino
                </label>
                <label class="radio-inline c-radio">
                    <input id="inputRadioGeneroFeminino" type="radio" ng-model="clienteCtrl.newPessoaFisica.sexo" name="radioGenero"
                           value="F"/>
                    <span class="fa fa-female"></span>
                    Feminino
                </label>
            </div>

        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Nacionalidade</label>

            <div class="controls">
                <input type="text" name="nacionalidadeInput"
                       ng-model="clienteCtrl.newPessoaFisica.nacionalidade"
                       data-parsley-group="step1" placeholder="Nacionalidade"
                       required="required" class="form-control"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Tel. Residencial</label>
            <input type="text" name="residencialInput"
                   ng-model="clienteCtrl.newPessoaFisica.telResidencial" masked
                   ui-mask="(99)9999-9999" data-parsley-group="step1"
                   placeholder="(##)####-####" class="form-control"/>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Celular</label>
            <input type="text" name="celularInput"
                   ng-model="clienteCtrl.newPessoaFisica.telCelular" masked
                   ui-mask="(99)99999-9999" data-parsley-group="step1"
                   placeholder="(##)#####-####" class="form-control"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Profissão</label>
            <input type="text" name="profissaoInput" ng-model="clienteCtrl.newPessoaFisica.profissao"
                   data-parsley-group="step1" placeholder="Profissão" class="form-control"/>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Renda Mensal</label>
            <div class="input-group">
                <span class="input-group-addon">R$</span>
                <input type="text" name="rendaMensalInput" ng-model="clienteCtrl.newPessoaFisica.rendaMensal"
                       data-parsley-group="step1" placeholder="Renda Mensal" class="form-control"/>
            </div>
        </div>
    </div>
</div>



                