<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Locatário (Inquilino)</label>

            <div class="controls">
                <ui-select ng-model="contratoCtrl.pessoaSelected" theme="bootstrap">
                    <ui-select-match placeholder="Consultar por NOME ou CPF">{{$select.selected.nome}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="pessoa in contratoCtrl.listPessoas | propsFilter: {nome: $select.search, cpfOrCnpj: $select.search}">
                        <div ng-bind-html="pessoa.nome | highlight: $select.search"></div>
                        <small>Cpf/Cnpj:
                            <span ng-bind-html="''+pessoa.cpfOrCnpj | highlight: $select.search"></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="contratoCtrl.pessoaSelected.idPessoa > 0">
    <div class="col-md-6" >
        <div class="form-group">
            <label ng-show="contratoCtrl.pessoaSelected.tipoPessoa == 'PF'">Nome do Completo (Locatário)</label>
            <label ng-show="contratoCtrl.pessoaSelected.tipoPessoa == 'PJ'">Nome da Empresa (Locatário)</label>
            <div class="controls">
                <input type="text" ng-value="contratoCtrl.pessoaSelected.nome" ng-disabled="true" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label ng-show="contratoCtrl.pessoaSelected.tipoPessoa == 'PF'">CPF</label>
            <label ng-show="contratoCtrl.pessoaSelected.tipoPessoa == 'PJ'">CNPJ</label>
            <div class="controls">
                <input type="text" ng-value="contratoCtrl.pessoaSelected.cpfOrCnpj" ng-disabled="true" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label>Endereço Completo</label>
            <div class="controls">
                <input type="text" ng-value="contratoCtrl.pessoaSelected.enderecoCompleto" ng-disabled="true" class="form-control"/>
            </div>
        </div>
    </div>
</div>