<h3>Novo Contrato
</h3>
<!-- START panel-->
<div class="panel panel-default" ng-controller="contratoController as contratoCtrl">
    <div class="panel-body">
        <form action="/" method="POST" form-wizard="" validate-steps="true" validate-form="" steps="4">
            <div class="form-wizard wizard-horizontal">
                <!-- MENU/Passos DO WIZARD-->
                <ol class="row">
                    <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-3">
                        <h4>Imóvel</h4>
                        <small class="text-muted">Selecionar o imóvel</small>
                    </li>
                    <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-3">
                        <h4>Inquilino</h4>
                        <small class="text-muted">Informações do Cliente</small>
                    </li>
                    <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-3">
                        <h4>Dados do Contrato</h4>
                        <small class="text-muted">Detalhes do Contrato</small>
                    </li>
                    <li ng-class="{'active':wizard.active(4)}" ng-click="wizard.go(4)" class="col-md-3">
                        <h4>Pronto!</h4>
                        <small class="text-muted">Contrato Cadastrado</small>
                    </li>
                </ol>
                <!-- END wizard steps indicator-->
                <!-- START Wizard Step inputs -->
                <div id="step1" ng-show="wizard.active(1)">
                    <fieldset>
                        <legend>Imóvel</legend>
                        <div ng-include="'resources/app/views/contrato/contratoFormImovel.html'" />
                    </fieldset>
                    <ul class="pager" ng-show="contratoCtrl.imovelSelected">
                        <li class="next"><a href="#" ng-click="wizard.go(2)">Avançar<span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>

                <!-- SEGUNDA PARTE - ENDERECO FORM -->
                <div id="step2" ng-show="wizard.active(2)">
                    <fieldset>
                        <legend>Locatário - Inquilino</legend>
                        <div ng-include="'resources/app/views/contrato/contratoFormInquilino.html'" />
                    </fieldset>
                    <ul class="pager">
                        <li class="previous">
                            <a href="#" ng-click="wizard.go(1)">
                                <span>&larr; Voltar</span>
                            </a>
                        </li>
                        <li class="next"><a href="#" ng-click="wizard.go(3)">Avançar <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>

                <!-- START Wizard Step inputs -->
                <div id="step3" ng-show="wizard.active(3)">
                    <fieldset>
                        <legend>Documentos/Arquivos do Cliente</legend>
                        <div ng-include="'resources/app/views/upload/fileUpload.html'" />
                    </fieldset>
                    <ul class="pager">
                        <li class="previous">
                            <a href="#" ng-click="wizard.go(2)">
                                <span>&larr; Voltar</span>
                            </a>
                        </li>
                        <li class="next"><a href="#" ng-click="wizard.go(4)">Finalizar <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div id="step4" ng-show="wizard.active(4)">
                    <div class="jumbotron">
                        <h1>Cliente Cadastrado!</h1>
                        <p>O Cliente foi Cadastrado com Sucesso!.</p>
                        <p>
                            <button type="button" class="btn btn-info btn-lg">You can Proceed Now</button>
                        </p>
                    </div>
                    <ul class="pager">
                        <li class="previous">
                            <a href="#" ng-click="wizard.go(3)">
                                <span>&larr; Voltar</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
            </div>
        </form>
    </div>
</div>